.home-container {
  padding: 2px;
  background: #f9fafb;
  min-height: 100vh;
}

.kpi-row {
  margin-bottom: 24px;
}

.kpi-card {
  border-radius: 10px;
}

.main-row {
  margin-bottom: 24px;
}

.home-card {
  border-radius: 10px;
}

.cta-card {
  text-align: center;
  border: none;
  /* border-radius: 10px; */
  background: #f9fafb;
}

.cta-card button {
  background: #2f3e46;
  border-color: #2f3e46;
}

.cta-card button:hover {
  background: #354f52;
  border-color: #354f52;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

